.container {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  /* mix-blend-mode: overlay; */
  /* color: white; */
  z-index: 10;
  font-size: 1.4375rem;
}

.links {
  all: unset;
  cursor: pointer;
}

.selected {
  color: red;
}
