.container {
  display: flex;
  margin-top: 100px;
  cursor: pointer;
  flex-direction: column;
  gap: 1rem;
}

.left {
  color: red;
  background-color: antiquewhite;
}

.right {
  color: blue;
  background-color: darkgrey;
}
