.container {
  display: flex;
  /* margin-top: 100px; */
  cursor: pointer;
  flex-direction: column;
  gap: 1rem;
  /* background-color: white; */
}

.left {
  color: red;
}

.right {
  color: blue;
}
